<dw-content class="dw-f-content-view" [ngClass]="{'view':isView}">
  <form dw-form [formGroup]="validateForm">
    <!-- 單頭 -->
    <div dw-row [dwType]="'flex'" [dwJustify]="'start'">
      <div dw-col [dwSpan]="24" *ngIf="isView" class="dw-f-top-btn-bar">
        <dw-form-item dw-row>
          <div dw-col [dwSpan]="12">
            <button dw-button [dwType]="'default'" (click)="goList()">
              <i class="anticon anticon-arrow-left"></i>
              <span translate>dw-group-back-list</span>
            </button>
          </div>
          <div dw-col [dwSpan]="12" class="dw-f-txt-right">
            <button dw-button [dwType]="'default'" (click)="deleteMaster()" [dwLoading]="isDeleting">
              <i class="anticon anticon-delete"></i>
              <span translate>dw-group-delete-entire-data</span>
            </button>
          </div>
        </dw-form-item>
      </div>
      <div class="master-title" dw-col [dwSpan]="24">
        <span translate>dw-group-group-company-setting</span>
        <span class="dw-f-btn-edit">
          <a *ngIf="isView" (click)="masterModify()" translate> <i class="anticon anticon-edit" *ngIf="isView"></i>dw-group-edit</a>
        </span>
      </div>
      <div dw-row [dwGutter]="10" class="dw-f-form-head">
        <div dw-col [dwSpan]="12" [dwLg]="{span: 8}" [dwXXl]="{span: 6}">
          <dw-form-item dw-row *ngIf="isView">
            <dw-form-label class="dw-f-label-title" dwRequired>
              {{ 'dw-group-group-id' | translate}}
            </dw-form-label>
            <span>{{master.groupId}}</span>
          </dw-form-item>
          <dw-form-input  *ngIf="!isView"
            formControlName="masterGroupId"
            dwLabel="{{'dw-group-group-id' | translate}}"
            dwLabelSpan="7"
            dwInputSpan="17"
            [attr.disabled]="true"
            [dwRequired]="true">
          </dw-form-input>
        </div>
        <div dw-col [dwSpan]="12" [dwLg]="{span: 8}" [dwXXl]="{span: 6}">
          <dw-form-item dw-row *ngIf="isView">
            <dw-form-label class="dw-f-label-title" dwRequired>
              {{ 'dw-group-group-name' | translate}}
            </dw-form-label>
            <span>{{master.groupName}}</span>
          </dw-form-item>
          <dw-form-input  *ngIf="!isView"
            formControlName="masterGroupName"
            dwLabel="{{'dw-group-group-name' | translate}}"
            dwLabelSpan="7"
            dwInputSpan="17"
            [attr.disabled]="true"
            [dwRequired]="true">
          </dw-form-input>
        </div>
        <div dw-col [dwSpan]="12" [dwLg]="{span: 8}" [dwXXl]="{span: 6}">
          <dw-form-item dw-row *ngIf="isView">
            <dw-form-label class="dw-f-label-title">
              {{ 'dw-group-currency-setting' | translate}}
            </dw-form-label>
            <span>{{master.currencyId}} {{master.currencyName}}</span>
          </dw-form-item>
          <dw-form-select  *ngIf="!isView"
            [dwOptionList]="currencyOptions | async"
            formControlName="masterCurrencyId"
            dwLabel="{{'dw-group-currency-setting' | translate}}"
            [dwPlaceHolder]="'dw-group-please-select' | translate"
            [dwNotFoundContent]="'dw-group-no-options' | translate"
            dwLabelSpan="7"
            dwInputSpan="17"
            [dwRequired]="false">
          </dw-form-select>
        </div>
        <div dw-col [dwSpan]="12" [dwLg]="{span: 8}" [dwXXl]="{span: 6}">
          <dw-form-item dw-row *ngIf="isView">
            <dw-form-label class="dw-f-label-title">
              {{ 'dw-group-source-company-id' | translate}}
            </dw-form-label>
            <span>{{master.sourceId}}</span>
          </dw-form-item>
          <dw-form-input  *ngIf="!isView"
            formControlName="masterSourceId"
            dwLabel="{{'dw-group-source-company-id' | translate}}"
            dwLabelSpan="7"
            dwInputSpan="17"
            [attr.disabled]="true"
            [dwRequired]="false">
          </dw-form-input>
        </div>
        <div dw-col [dwSpan]="12" [dwLg]="{span: 8}" [dwXXl]="{span: 6}">
          <dw-form-item dw-row *ngIf="isView">
            <dw-form-label class="dw-f-label-title">
              {{ 'dw-group-group-exchange-rate-setting' | translate}}
            </dw-form-label>
            <span>{{groupService.showLabel(master.exchangeWay,'exchangeWayOptions') | async}}</span>
          </dw-form-item>
          <dw-form-select  *ngIf="!isView"
            [dwOptionList]="exchangeWayOptions | async"
            formControlName="masterExchangeWay"
            dwLabel="{{'dw-group-group-exchange-rate-setting' | translate}}"
            [dwPlaceHolder]="'dw-group-please-select' | translate"
            [dwNotFoundContent]="'dw-group-no-options' | translate"
            dwLabelSpan="7"
            dwInputSpan="17"
            [dwRequired]="false">
          </dw-form-select>
        </div>
        <div dw-col [dwSpan]="12" [dwLg]="{span: 8}" [dwXXl]="{span: 6}">
          <dw-form-item dw-row *ngIf="isView">
            <dw-form-label class="dw-f-label-title">
              {{ 'dw-group-exchange-rate-category' | translate}}
            </dw-form-label>
            <span>{{groupService.showLabel(master.exchangeClass,'exchangeClassOptions') | async}}</span>
          </dw-form-item>
          <dw-form-select  *ngIf="!isView"
            [dwOptionList]="exchangeClassOptions | async"
            formControlName="masterExchangeClass"
            dwLabel="{{'dw-group-exchange-rate-category' | translate}}"
            [dwPlaceHolder]="'dw-group-please-select' | translate"
            [dwNotFoundContent]="'dw-group-no-options' | translate"
            dwLabelSpan="7"
            dwInputSpan="17"
            [dwRequired]="false">
          </dw-form-select>
        </div>
        <div dw-col [dwSpan]="12" [dwLg]="{span: 8}" [dwXXl]="{span: 6}">
          <dw-form-item dw-row *ngIf="isView">
            <dw-form-label class="dw-f-label-title">
              {{ 'dw-group-exchange-rate-source-company' | translate}}
            </dw-form-label>
            <span>{{groupService.showLabel(master.exchangeSource,'exchangeSourceOptions') | async}}</span>
          </dw-form-item>
          <dw-form-select  *ngIf="!isView"
            [dwOptionList]="exchangeSourceOptions | async"
            formControlName="masterExchangeSource"
            dwLabel="{{'dw-group-exchange-rate-source-company' | translate}}"
            [dwPlaceHolder]="'dw-group-please-select' | translate"
            [dwNotFoundContent]="'dw-group-no-options' | translate"
            dwLabelSpan="7"
            dwInputSpan="17"
            [dwRequired]="false">
          </dw-form-select>
        </div>
        <div dw-col [dwSpan]="12" [dwLg]="{span: 8}" [dwXXl]="{span: 6}">
          <dw-form-item dw-row *ngIf="isView">
            <dw-form-label class="dw-f-label-title" dwRequired>
              {{ 'dw-group-status-code' | translate}}
            </dw-form-label>
            <span>{{groupService.showLabel(master.status,'searchStatusOptions') | async}}</span>
          </dw-form-item>
          <dw-form-select  *ngIf="!isView"
            [dwOptionList]="searchStatusOptions | async"
            formControlName="masterStatus"
            dwLabel="{{'dw-group-status-code' | translate}}"
            [dwPlaceHolder]="'dw-group-please-select' | translate"
            [dwNotFoundContent]="'dw-group-no-options' | translate"
            dwLabelSpan="7"
            dwInputSpan="17"
            [dwRequired]="true">
          </dw-form-select>
        </div>
      </div>
    </div>
    <div dw-row [dwGutter]="20" [dwType]="'flex'" [dwJustify]="'start'">

        <div dw-col [dwSpan]="24" *ngIf="!isView">
          <div dw-form-item dw-row>
            <!-- <div dw-form-label class="dw-f-label-title">
            </div> -->
            <div dw-form-control dw-col [dwSpan]="24">
              <!-- 表單按鈕 -->
              <button dw-button type="button" (click)="cancel()">{{ 'dw-cancel' | translate }}</button>
              <button dw-button (click)="save()" [dwType]="'primary'" [disabled]="!validateForm.valid" [dwLoading]="isSaving">{{ 'dw-save' | translate }}</button>
            </div>
          </div>
        </div>

    </div>
  </form>

<!-- 單身 -->

<!-- <div [style.display]="!isView?'block':'none'" class="dwDivMask" #maskDiv></div> -->
<dw-div-mask [showMask]="!isView" [targetDiv]="detailDiv" [maskTriggers]="maskTriggers"></dw-div-mask>
<div #detailDiv class="dw-f-form-box">

    <dw-card [dwBordered]="false" [dwTitle]="titleTmp">
      <ng-template #titleTmp>
        {{ 'dw-group-detail-settings' | translate}}
      </ng-template>
      <div dw-row class="dw-f-table">
        <dw-table #dwTable [dwData]="detail" [dwShowPagination]="false" [dwShowSizeChanger]="true" [dwLoading]="searchLoading">
          <thead>
            <tr>
              <th>
                <span translate>dw-group-no</span>
              </th>
              <th>
                <span translate>dw-group-company-id</span>
              </th>
              <th>
                <span translate>dw-group-company-name</span>
              </th>
              <th>
                <span translate>dw-group-currency-id</span>
              </th>
              <th>
                <span translate>dw-group-currency-name</span>
              </th>
              <th>
                <span translate>dw-group-msg-confirm-execute</span>
              </th>
              <th>
                <span translate>dw-group-start-date</span>
              </th>
              <th>
                <span translate>dw-group-end-date</span>
              </th>
              <th>
                <span translate>dw-group-operating</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dwTable.data; let idx = index">
              <td>
                {{data.seq}}
              </td>
              <td>
                {{data.companyId}}
              </td>
              <td>
                {{data.companyName}}
              </td>
              <td>
                {{data.currencyId}}
              </td>
              <td>
                {{groupService.showLabel(data.currencyId,'currencyOptions') | async}}
              </td>
              <td>
                {{data.status}}
              </td>
              <td>
                {{data.startDate}}
              </td>
              <td>
                {{data.endDate}}
              </td>
              <td>
                <span class="dw-link-txt">
                  <a (click)="detailModify(idx)" translate>dw-group-modify</a>
                  <span dw-table-divider></span>
                  <dw-popconfirm [dwTitle]="'dw-group-msg-confirm-delete'|translate" (dwOnConfirm)="detailDelete(idx)" [dwOkText]="'dw-determine' | translate" [dwCancelText]="'dw-cancel' | translate"
                    [dwPlacement]="'topRight'">
                    <a dw-popconfirm translate>dw-group-delete</a>
                    <!-- <i class="anticon anticon-delete" translate>dw-group-delete</i> -->
                  </dw-popconfirm>
                </span>
              </td>
            </tr>
          </tbody>
        </dw-table>
      </div>
      <div dw-row class="dw-btn-add">
        <div dw-col [dwSpan]="24">
          <button class="dw-f-btn-w100" dw-button [dwType]="'dashed'" [dwSize]="'large'" (click)="detailAdd()">
            <i class="anticon anticon-plus"></i>
            <span translate>dw-group-add</span>
          </button>
        </div>
      </div>
    </dw-card>

</div>
<ng-template #modifyDetailTitle>
  <span translate>dw-group-edit-company-settings</span>
</ng-template>
<ng-template #addDetailTitle>
  <span translate>dw-group-add公司明細</span>
</ng-template>
</dw-content>
