
  <div class="clearfix">
    <dw-upload
      dwAction="https://jsonplaceholder.typicode.com/posts/"
      dwListType="picture"
      [(dwFileList)]="fileList1">
      <button dw-button>
        <i class="anticon anticon-upload"></i><span>Upload</span>
      </button>
    </dw-upload>
  </div>
    <br><br>
  <div class="clearfix">
    <dw-upload class="upload-list-inline"
      dwAction="https://jsonplaceholder.typicode.com/posts/"
      dwListType="picture"
      [(dwFileList)]="fileList2">
      <button dw-button>
        <span><i class="anticon anticon-upload"></i> Upload</span>
      </button>
    </dw-upload>
  </div>
  