
    <div style="background: #ECECEC;padding:30px;">
      <div dw-row [dwGutter]="8">
        <div dw-col [dwSpan]="8">
          <dw-card dwTitle="Card title">
            <p>Card content</p>
          </dw-card>
        </div>
        <div dw-col [dwSpan]="8">
          <dw-card dwTitle="Card title">
            <p>Card content</p>
          </dw-card>
        </div>
        <div dw-col [dwSpan]="8">
          <dw-card dwTitle="Card title">
            <p>Card content</p>
          </dw-card>
        </div>
      </div>
    </div>
  