
    <button dw-button dwType="primary" dwLoading><i class="anticon anticon-poweroff"></i>Loading</button>
    <button dw-button dwType="primary" dwSize="small" dwLoading>Loading</button>
    <br>
    <button dw-button dwType="primary" (click)="loadOne()" [dwLoading]="isLoadingOne">Click me!</button>
    <button dw-button dwType="primary" (click)="loadTwo()" [dwLoading]="isLoadingTwo"><i class="anticon anticon-poweroff"></i>Click me!</button>
    <br>
    <button dw-button dwLoading dwShape="circle"></button>
    <button dw-button dwLoading dwType="primary" dwShape="circle"></button>
  