
    <div style="width: 240px;">
      <button dw-button [dwType]="'primary'" (click)="toggleCollapsed()" style="margin-bottom: 10px;">
        <i class="anticon" [class.anticon-menu-unfold]="isCollapsed" [class.anticon-menu-fold]="!isCollapsed">
        </i>
      </button>
      <ul dw-menu [dwMode]="'inline'" dwTheme='dark' [dwInlineCollapsed]="isCollapsed">
        <li dw-menu-item dw-tooltip dwPlacement="right" [dwTitle]="isCollapsed ? 'Navigation One' : ''">
          <span title>
            <i class="anticon anticon-mail"></i>
            <span>Navigation One</span>
          </span>
        </li>
        <li dw-submenu>
          <span title>
            <i class="anticon anticon-appstore"></i>
            <span>Navigation Two</span>
          </span>
          <ul>
            <li dw-menu-item>Option 5</li>
            <li dw-menu-item>Option 6</li>
            <li dw-submenu>
              <span title>Submenu</span>
              <ul>
                <li dw-menu-item>Option 7</li>
                <li dw-menu-item>Option 8</li>
              </ul>
            </li>
          </ul>
        </li>
        <li dw-submenu>
          <span title>
            <i class="anticon anticon-setting"></i>
            <span>Navigation Three</span>
          </span>
          <ul>
            <li dw-menu-item>Option 9</li>
            <li dw-menu-item>Option 10</li>
            <li dw-menu-item>Option 11</li>
          </ul>
        </li>
      </ul>
    </div>
  