
  <div>
    <dw-avatar dwSize="large" dwIcon="anticon anticon-user"></dw-avatar>
    <dw-avatar dwIcon="anticon anticon-user"></dw-avatar>
    <dw-avatar dwSize="small" dwIcon="anticon anticon-user"></dw-avatar>
  </div>
  <div>
    <dw-avatar [dwShape]="'square'" [dwSize]="'large'" [dwIcon]="'anticon anticon-user'"></dw-avatar>
    <dw-avatar [dwShape]="'square'" [dwIcon]="'anticon anticon-user'"></dw-avatar>
    <dw-avatar [dwShape]="'square'" [dwSize]="'small'" [dwIcon]="'anticon anticon-user'"></dw-avatar>
  </div>
  