<div dw-row class="login-bg">
  <div dw-col class="login-content">
    <div dw-row class="login-main-block">
      <div dw-col [dwXs]="'8'" [dwSm]="'8'" [dwMd]="'9'" [dwLg]="'9'">
      </div>
      <div dw-col [dwXs]="'8'" [dwSm]="'8'" [dwMd]="'6'" [dwLg]="'6'">
        <img class="login-logo" src="{{dwLogoPath | translate}}">
        <dw-login-block [showRemember]="true" [showLanguage]="true"></dw-login-block>
      </div>
      <div dw-col [dwXs]="'8'" [dwSm]="'8'" [dwMd]="'9'" [dwLg]="'9'">
      </div>
    </div>
    <div dw-row class="login-copyright-block">
      <div dw-col class="login-copyright">
        <span>© Data Systems Consulting Co., Ltd. All rights reserved.</span>
      </div>
    </div>
  </div>
</div>
