.login-bg {
  background-color: rgba(0, 21, 41, 1);
  height: 100%;
  padding-top: 100px;
}

.login-logo {
  margin-bottom: 10px;
}
.login-form {
  min-width: 250px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-copyright {
  text-align: center;
}
.login-copyright span {
  font-size: 14px;
}
span {
  color: white;
}
