
    <dw-table
      #rowSelectionTable
      [dwData]="dataSet"
      [dwPageSize]="10"
      (dwPageIndexChange)="refreshStatus()"
      (dwPageSizeChange)="refreshStatus()">
      <thead>
        <tr>
          <th dwShowCheckbox dwShowRowSelection [dwSelections]="listOfSelection" [(dwChecked)]="allChecked" [dwIndeterminate]="indeterminate" (dwCheckedChange)="checkAll($event)"></th>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td dwShowCheckbox [(dwChecked)]="data.checked" (dwCheckedChange)="refreshStatus()"></td>
          <td>{{data.name}}</td>
          <td>{{data.age}}</td>
          <td>{{data.address}}</td>
        </tr>
      </tbody>
    </dw-table>