<dw-content>
  <div>
    <div dw-row dwGutter="3">
      <div dw-col [dwSpan]="3" class="list-item" *ngFor="let item of iconList; let idx = index" (click)="selected(item)">
        <div>
          <i class="{{item}}"></i>
          <!-- <span class="anticon-class">
                      <span class="ant-badge">{{item}}</span>
                    </span> -->
        </div>
      </div>
    </div>
  </div>
  <div class="customize-footer">
    <button dw-button type="button" [dwType]="'default'" (click)="handleCancel($event)" translate>
      {{ 'dw-cancel' | translate }}
    </button>
  </div>
</dw-content>
