<button (click)="navSendMessageById()">By Id</button>
<div dw-row [dwGutter]="8">
  <div dw-col [dwSpan]="8">
    <dw-card dwTitle="{{'dw-messages-單頁發送'| translate}}">
        <app-dw-showcase-single-page></app-dw-showcase-single-page>
    </dw-card>
  </div>
  <div dw-col [dwSpan]="8">
    <dw-card dwTitle="{{'dw-messages-單頁批次發送'| translate}}">
        <app-dw-showcase-single-page-batch></app-dw-showcase-single-page-batch>
    </dw-card>
  </div>
  <div dw-col [dwSpan]="8">
    <dw-card dwTitle="{{'dw-messages-跨頁發送'| translate}}">
        <app-dw-showcase-routed-message></app-dw-showcase-routed-message>
    </dw-card>
  </div>
</div>
<router-outlet></router-outlet>
