
    <dw-badge dwStatus="success"></dw-badge>
    <dw-badge dwStatus="error"></dw-badge>
    <dw-badge dwStatus="default"></dw-badge>
    <dw-badge dwStatus="processing"></dw-badge>
    <dw-badge dwStatus="warning"></dw-badge>
    <dw-badge dwStatus="default" [dwStyle]="{'background-color':'#2f54eb'}"></dw-badge>
    <br>
    <dw-badge dwStatus="success" dwText="Success"></dw-badge>
    <br>
    <dw-badge dwStatus="error" dwText="Error"></dw-badge>
    <br>
    <dw-badge dwStatus="default" dwText="Default"></dw-badge>
    <br>
    <dw-badge dwStatus="processing" dwText="Processing"></dw-badge>
    <br>
    <dw-badge dwStatus="warning" dwText="Warning"></dw-badge>
    <br>
    <dw-badge dwStatus="default" dwText="Color" [dwStyle]="{'background-color':'#2f54eb'}"></dw-badge>
  