
    <dw-select style="width: 200px;" dwShowSearch dwAllowClear dwPlaceHolder="Select OS" [(ngModel)]="selectedOS">
      <dw-option dwCustomContent dwLabel="Windows" dwValue="windows"><i class="anticon anticon-windows"></i> Windows</dw-option>
      <dw-option dwCustomContent dwLabel="Mac" dwValue="mac"><i class="anticon anticon-apple"></i> Mac</dw-option>
      <dw-option dwCustomContent dwLabel="Android" dwValue="android"><i class="anticon anticon-android"></i> Android</dw-option>
    </dw-select>
  