
    <button dw-button dwType="primary" dwShape="circle"><i class="anticon anticon-search"></i></button>
    <button dw-button dwType="primary"><i class="anticon anticon-search"></i>Search</button>
    <button dw-button dwType="default" dwShape="circle"><i class="anticon anticon-search"></i></button>
    <button dw-button dwType="default"><i class="anticon anticon-search"></i>Search</button>
    <br>
    <button dw-button dwType="default" dwShape="circle"><i class="anticon anticon-search"></i></button>
    <button dw-button dwType="default"><i class="anticon anticon-search"></i>Search</button>
    <button dw-button dwType="dashed" dwShape="circle"><i class="anticon anticon-search"></i></button>
    <button dw-button dwType="dashed"><i class="anticon anticon-search"></i>Search</button>
  