
    <dw-layout>
      <dw-header>Header</dw-header>
      <dw-content>Content</dw-content>
      <dw-footer>Footer</dw-footer>
    </dw-layout>

    <dw-layout>
      <dw-header>Header</dw-header>
      <dw-layout>
        <dw-sider>Sider</dw-sider>
        <dw-content>Content</dw-content>
      </dw-layout>
      <dw-footer>Footer</dw-footer>
    </dw-layout>

    <dw-layout>
      <dw-header>Header</dw-header>
      <dw-layout>
        <dw-content>Content</dw-content>
        <dw-sider>Sider</dw-sider>
      </dw-layout>
      <dw-footer>Footer</dw-footer>
    </dw-layout>

    <dw-layout>
      <dw-sider>Sider</dw-sider>
      <dw-layout>
        <dw-header>Header</dw-header>
        <dw-content>Content</dw-content>
        <dw-footer>Footer</dw-footer>
      </dw-layout>
    </dw-layout>
  