
    <dw-layout class="layout">
      <dw-header>
        <div class="logo"></div>
        <ul dw-menu [dwTheme]="'dark'" [dwMode]="'horizontal'" style="line-height: 64px;">
          <li dw-menu-item>nav 1</li>
          <li dw-menu-item>nav 2</li>
          <li dw-menu-item>nav 3</li>
        </ul>
      </dw-header>
      <dw-content style="padding:0 50px;">
        <dw-breadcrumb style="margin:16px 0;">
          <dw-breadcrumb-item>Home</dw-breadcrumb-item>
          <dw-breadcrumb-item>List</dw-breadcrumb-item>
          <dw-breadcrumb-item>App</dw-breadcrumb-item>
        </dw-breadcrumb>
        <div style="background:#fff; padding: 24px; min-height: 280px;">Content</div>
      </dw-content>
      <dw-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</dw-footer>
    </dw-layout>
  