.forget-bg {
  background-color: rgba(0, 21, 41, 1);
  min-height: 100vh;
}

.forget-logo {
  margin-bottom: 10px;
  padding-top: 100px;
}

.forget-copyright {
  text-align: center;
  padding-bottom: 1rem;
}
.forget-copyright span {
  font-size: 14px;
}
span {
  color: white;
}
