  <ag-grid-angular
  #agGrid
  class="ag-theme-balham"
  style="height: 300px;"
  [columnDefs]="columnDefs"
  [enableColResize]="true"
  [frameworkComponents]="frameworkComponents"
  [enableSorting]="true"
  [enableServerSideSorting]="true"
  (sortChanged)="onSortChanged($event)"
  [rowSelection]="rowSelection"
  [rowMultiSelectWithClick]="true"
  (selectionChanged)="onSelectionChanged()"
  [enableFilter]="true"
  [floatingFilter]="true"
  (filterChanged)="onFilterChanged($event)"
  [enableServerSideFilter]="true"
  (gridReady)="onGridReady($event)"
></ag-grid-angular>

<div dw-row dwType="flex" dwJustify="center" style="margin: 10px 0;">
  <dw-pagination-server-side-wrap [dataSource]="dataService" #pagination
                                  [dwPageIndex]="pageNumber"
                                  [dwPageSize]="pageSize"
                                  [queryInfo]="queryInfo"
                                  [dwShowSizeChanger]="true"
                                  (dataSourceChange)="onDataSourceChange($event)">
  </dw-pagination-server-side-wrap>
</div>
