
    <dw-collapse>
      <dw-collapse-panel *ngFor="let panel of panels" [dwHeader]="panel.name" [dwActive]="panel.active">
        <p>{{panel.name}}</p>
        <div *ngIf="panel.childPanel&&panel.childPanel.length>0">
          <dw-collapse>
            <dw-collapse-panel *ngFor="let childPanel of panel.childPanel" [dwHeader]="childPanel.name"
              [dwActive]="childPanel.active">
              <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
            </dw-collapse-panel>
          </dw-collapse>
        </div>
      </dw-collapse-panel>
    </dw-collapse>
  