
    <dw-tabset [dwType]="'card'" [dwTabBarExtraContent]="extraTemplate">
      <dw-tab *ngFor="let tab of tabs" [dwTitle]="titleTemplate">
        <ng-template #titleTemplate>
          <div>
            {{ tab }}
            <i class="anticon anticon-close" (click)="closeTab(tab)"></i>
          </div>
        </ng-template>
        Content of {{ tab }}
      </dw-tab>
    </dw-tabset>
    <ng-template #extraTemplate>
      <i class="ant-tabs-new-tab anticon anticon-plus" (click)="newTab()"></i>
    </ng-template>
  