<!-- 基本样板：左右切换 + 下拉清单 -->
<dw-button-group *ngIf="template === 'basic'">
  <button dw-button (click)="previous()">
    <i class="anticon anticon-left"></i>
  </button>
  <dw-select [dwPlaceHolder]="'搜尋..'" [(ngModel)]="languageOption" (ngModelChange)="switchLanguage(languageOption)"
    [dwShowSearch]="true">
    <dw-option *ngFor="let language of languageList" [dwLabel]="language.label" [dwValue]="language.value">
    </dw-option>
  </dw-select>
  <button dw-button (click)="next()">
    <i class="anticon anticon-right"></i>
  </button>
</dw-button-group>
<!-- 下拉样板：下拉清单 -->
<dw-select *ngIf="template === 'dropdown'" [(ngModel)]="languageOption"
  (ngModelChange)="switchLanguage(languageOption)" [dwShowSearch]="false">
  <dw-option *ngFor="let language of languageList" [dwLabel]="language.label" [dwValue]="language.value">
  </dw-option>
</dw-select>
