
    <div>
      <dw-radio-group [(ngModel)]="radioValue">
        <label dw-radio [dwValue]="o.value" *ngFor="let o of options">{{o.label}}</label>
      </dw-radio-group>
      <dw-radio-group [(ngModel)]="radioValue">
        <label dw-radio [dwValue]="o.value" *ngFor="let o of options">{{o.label}}</label>
      </dw-radio-group>
      <dw-radio-group [(ngModel)]="radioValue">
        <label dw-radio [dwValue]="o.value" *ngFor="let o of options">{{o.label}}</label>
      </dw-radio-group>
    </div>
  