<dw-content class="dw-f-input-listwin">
<form dw-form>
  <div dw-row [dwGutter]="24">
    <div dw-col [dwSpan]="12" class="dw-f-input-listwin-block">
      <dw-form-item dw-row>
        <dw-form-label dw-col [dwSpan]="24" class="title">
          <span translate>dw-input-listwin-title-1</span>
        </dw-form-label>
      </dw-form-item>
      <dw-form-item dw-row>
        <dw-form-label dw-col [dwSm]="6" [dwXs]="24">
          <span translate>dw-input-listwin-input</span>
        </dw-form-label>
        <dw-form-control dw-col [dwSm]="18" [dwXs]="24">
          <dw-input-group dwSearch [dwSuffix]="suffixDemoOrder">
            <dw-select style="width: 100%" [(ngModel)]="demoOrder" dwMode="multiple" [ngModelOptions]="{standalone: true}">
              <dw-option *ngFor="let option of demoOrder" [dwLabel]="option" [dwValue]="option"></dw-option>
            </dw-select>
            <!-- <input dw-input placeholder="input search text" [(ngModel)]="demoOrder" name="demoOrder"> -->
          </dw-input-group>
          <ng-template #suffixDemoOrder>
            <button dw-button dwType="primary" dwSearch (click)="openDemoOrderWin($event)">
              <i class="anticon anticon-search"></i>
            </button>
          </ng-template>
        </dw-form-control>
      </dw-form-item>
      <dw-form-item dw-row>
        <dw-form-label dw-col [dwSm]="6" [dwXs]="24">
          <span translate>dw-input-listwin-selected</span>
        </dw-form-label>
        <dw-form-control dw-col [dwSm]="18" [dwXs]="24">
          {{demoOrder| json}}
        </dw-form-control>
      </dw-form-item>
    </div>
    <!--  dw-f-input-listwin-block -->
    <div dw-col [dwSpan]="12" class="dw-f-input-listwin-block">
      <dw-form-item dw-row>
        <dw-form-label dw-col [dwSpan]="24" class="title">
          <span translate>dw-input-listwin-title-2</span>
        </dw-form-label>
      </dw-form-item>
      <dw-form-item dw-row>
        <dw-form-label dw-col [dwSm]="6" [dwXs]="24">
          <span translate>dw-input-listwin-input</span>
        </dw-form-label>
        <dw-form-control dw-col [dwSm]="18" [dwXs]="24">
          <dw-input-group dwSearch [dwSuffix]="suffixMockData">
            <dw-select style="width: 100%" [(ngModel)]="mockData" dwMode="multiple" [ngModelOptions]="{standalone: true}">
              <dw-option *ngFor="let option of mockData" [dwLabel]="option" [dwValue]="option"></dw-option>
            </dw-select>
            <!-- <input dw-input placeholder="input search text" [(ngModel)]="mockData" name="mockData"> -->
          </dw-input-group>
          <ng-template #suffixMockData>
            <button dw-button dwType="primary" dwSearch (click)="openMockDataWin($event)">
              <i class="anticon anticon-search"></i>
            </button>
          </ng-template>
        </dw-form-control>
      </dw-form-item>
      <dw-form-item dw-row>
        <dw-form-label dw-col [dwSm]="6" [dwXs]="24">
          <span translate>dw-input-listwin-selected</span>
        </dw-form-label>
        <dw-form-control dw-col [dwSm]="18" [dwXs]="24">
          {{mockData| json}}
        </dw-form-control>
      </dw-form-item>

    </div>


  </div>
</form>
</dw-content>
