<span *ngIf="currTenantList.length > 0" class="anticon dw-layout-basic-side-username-icon dw-header-anticon" dw-popover [(dwVisible)]="visibleFromIcon" [dwContent]="tenantListTemp" dwTrigger="click">
  <i class="anticon anticon-user" dw-tooltip dwPlacement="bottom" [dwTitle]="'dw-tenant-default-tenant' | translate"></i>
</span>
<span *ngIf="currTenantList.length > 0" dw-popover [(dwVisible)]="visibleFromTitle" [dwContent]="tenantListTemp" dwTrigger="click">
  <span dw-tooltip dwPlacement="bottom" [dwTitle]="'dw-tenant-default-tenant' | translate" class="dw-tenant-name">{{userDetail.tenantName}}</span>
</span>
<ng-template #tenantListTemp>
  <ng-container *ngIf="currTenantList.length === 1">
    <dw-list dwBordered [dwHeader]="headerOneTemp" dwSize="large">
      <ng-template #headerOneTemp>
        <i class="anticon anticon-check"></i>{{userDetail.tenantName}}
      </ng-template>
    </dw-list>
  </ng-container>

  <ng-container *ngIf="currTenantList.length > 1">
    <dw-list [dwDataSource]="currTenantList" [dwHeader]="headerTemp" dwBordered [dwRenderItem]="tenantListTemp" dwSize="large">
      <ng-template #headerTemp>
        <i class="anticon anticon-retweet"></i><span translate>dw-tenant-switch-tenant</span>
      </ng-template>
      <ng-template #tenantListTemp let-tenantItem>
        <dw-list-item [dwContent]="itemContent"></dw-list-item>
        <ng-template #itemContent>
          <i class="anticon" [ngClass]="{'anticon-check': userDetail.tenantSid === tenantItem.tenantSid}"></i>
          <a (click)="changeTenant(tenantItem.tenantSid)">{{tenantItem.tenantName}}</a>
        </ng-template>
      </ng-template>
    </dw-list>
  </ng-container>
</ng-template>
