
    <div>
      <h4>included=true</h4>
      <dw-slider [dwMarks]="marks" [dwDefaultValue]="37"></dw-slider>
      <dw-slider [dwMarks]="marks" dwIncluded dwRange [dwDefaultValue]="[26, 37]"></dw-slider>
      <h4>included=false</h4>
      <dw-slider [dwMarks]="marks" [dwIncluded]="false" [dwDefaultValue]="37"></dw-slider>
      <h4>marks & step</h4>
      <dw-slider [dwMarks]="marks" [dwStep]="10" [dwDefaultValue]="37"></dw-slider>
      <h4>step=null || dots=true</h4>
      <dw-slider [dwMarks]="marks" [dwStep]="null" [dwDefaultValue]="37"></dw-slider>
      <dw-slider [dwMarks]="marks" dwDots [dwDefaultValue]="37"></dw-slider>
      Change dwMarks dynamically: <button dw-button (click)="changeMarks()">Change dwMarks</button>
    </div>
  