
    <form dw-form [dwLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <dw-form-item>
        <dw-form-control>
          <dw-input-group dwPrefixIcon="anticon anticon-user">
            <input formControlName="userName" dw-input placeholder="Username">
          </dw-input-group>
          <dw-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">Please input your username!</dw-form-explain>
        </dw-form-control>
      </dw-form-item>
      <dw-form-item>
        <dw-form-control>
          <dw-input-group dwPrefixIcon="anticon anticon-lock">
            <input formControlName="password" dw-input type="password" placeholder="Password">
          </dw-input-group>
          <dw-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your Password!</dw-form-explain>
        </dw-form-control>
      </dw-form-item>
      <dw-form-item>
        <dw-form-control>
          <button dw-button dwType="primary" [disabled]="!validateForm.valid">Log in</button>
        </dw-form-control>
      </dw-form-item>
    </form>